.table {
  border:1px solid #ccc;
  float: left;
  position: relative;
}
.table tr td {
  border: 1px solid black;
  width: 10px;
  height: 30px;
}
.table tr th {
  width: 60px;
}
.table td.selected { background-color:purple; }
.all-day {
  float: left;
  margin-top: 0;
  padding-left: 20px;
}
.all-day-title {
  margin: 0 0 10px 0;
}
.all-day li {
  list-style: none;
  width: 20px;
  height: 34px;
  border: 1px solid black;
  margin-bottom: 1.5px;
  margin-top: 1.5px;
  box-sizing: border-box;

}
